@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
  font-family: 'Roboto', sans-serif;
  color: #34495e;
}

#canvas{
  width: 100%;
  height: 95%;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  background: #ecf0f1;
}

.frame{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title{
  text-align: center;
  font-size: 5em;
  padding: 10px;
}

ul{
  width: 100%;
  margin: auto;
  text-align: center;
}

ul, li{
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

li{
  font-size: 1.5em;
  padding:15px;
}

li:hover{
  color: #7f8c8d;
}

*::selection{
  background: #2c3e50;
  color: #ecf0f1;
}

@media(orientation: portrait){
  .title{
    font-size: 3em;
  }
  
  ul, li{
    font-size: 1em;
  }
}

.projects{
  height: 80%;
  width: 80%;
  background: #34495e;
  border-radius: 2px;
}

.section{
  background: white;
  margin: 25px;
  color: black;
  border-radius: 2px;
}

.backTop{
  position: absolute;
  background: #34495e;
  bottom: 0;
  right: 0;
  color: #ecf0f1;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
