@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
  font-family: 'Roboto', sans-serif;
  color: #34495e;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  background: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
  font-size: 5em;
  padding: 10px;
}

ul{
  width: 100%;
  margin: auto;
  text-align: center;
}

ul, li{
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

li{
  font-size: 1.5em;
  padding:15px;
}

li:hover{
  color: #7f8c8d;
}

*::selection{
  background: #2c3e50;
  color: #ecf0f1;
}

@media(orientation: portrait){
  .title{
    font-size: 3em;
  }
  
  ul, li{
    font-size: 1em;
  }
}
